/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/*-------------------------------
                                 universal section 
-------------------------------- */
:root{
    --font-color:#3A3A3A;
}
body{
    background: #aaaaaa23;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 0 7%;
}
/* center  head  */
.center-title{
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}
/* mobile titel  */
#mobile-title{
    display: none;
}
/* button  */
button{
    border: 0;
    width: 200px;
    height: 45px;
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 20px ;
    margin: 2px;
    box-shadow: 0 6px #e02c6e4a;
    cursor: pointer;
}
button:active {
    background-color: #E02C6D;
    box-shadow: 0 3px rgba(102, 102, 102, 0.645);
    transform: translateY(4px);
  }

/*-------------------------------
                                 head section 
-------------------------------- */
header{
    height: 100vh;
}
/* Navigation  */
.navigation{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.site-name{
     font-size: 24px;
     cursor: pointer;
     color: var(--font-color);
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--font-color);
    padding: 10px 2px;
}
nav ul li a:hover{
    color: rgba(0, 0, 0, 0.616);
}
/* Head main item 
----------------------------- */
.main-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-left{
    max-width: 600px;
}
.head-left h1{
    font-size: 52px;
    color: var(--font-color);
    margin-bottom: 1px;
}
.head-left p{
    font-size: 16px;
    font-weight: 600;
}
.head-right{
    margin-top: 60px; 
}
.head-right img{
    width: 100%;
}
/* -------------------------------------
--------------------------------------------Popular collection
------------------------------------------  */

.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    justify-items: center;
    margin: 20px 0;
}
.product{
    background-color: white;
    border-radius: 10px;
    width: 330px;
    height: 476px;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.124);
}
.product img{
    padding: 17px 14px 0 14px;
}
/* product description   */
.product-dec{
    padding: 0 14px 14px 14px;
}
.product-dec h2{
    font-size: 28px;
    font-weight: 500;
    margin: 3px 0;
}
.product-dec h3{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin: 3px 0;
}
#rating{
    font-style: 14px;
    margin: 8px 0;
    color: Orange;
}
span{
    color: var(--font-color);
    margin-left: 8px;
}
.product-dec p{
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0; 
}
.see-more{
    text-align: right;
}
.see-more a{
    text-decoration: none;
    color: var(--font-color);
}
/*---------------------------------------
-------------------------- Expert section 
--------------------- */
.experts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.expert{
    background-color: white;
    width: 350px;
    height: 650px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.expert img{
    padding: 23px 23px 0 23px;
}
.expert-dec{
    padding: 20px;
}
.expert-dec h2{
    margin: 5px 0;
}
.expert-dec h3{
    margin: 10px 0;
}
.expert-dec p{
    margin-top: 3px;
    margin-bottom: 8px;
    line-height: 2em;
}

/*----------------------- 
------------------------Footer section 
------------------------ */
footer{
    width: 100%;
    height: 240px;
    background-color: #0A0826;
    color: white;
}
#foot{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
#foot h3{
    font-size: 24px;
    font-weight: 700;
    margin: 50px 0 5px 0;
}
#foot p{
    margin: 5px 0;
}
#foot p a{
    font-size: 35px;
    margin: 30px 16px;
    text-decoration: none;
    color: white;
    border-radius: 50%;
}
/*--------------------
------------------------ Media queary 
--------------------- */
@media only screen and (max-width: 688px){
    header{
        margin: 0;
    }
    .navigation{
        margin: 2px;
    }
    main{
        margin: 0 20px;
    }
    header{
        height: 700px;
    }
    .site-name{
        font-size: 16px;
        position: relative;
        left: 45px;
    }
    nav{
        display: none;
    }
    /* main head  */
    .main-head{
        flex-wrap: wrap;
    }
    .head-left{
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .head-left h1{
        font-size: 28px;
        color: var(--font-color);
        margin-bottom: 1px;
        text-align: center;
    }
    .head-left p{
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }
    .head-right img{
        width: 80%;
        margin: 0 10%;
    }
    .products{
        grid-template-columns: 1fr;
        max-width: 100%;
    }
   
}
@media only screen and (min-width:689px) and (max-width:1000px){
    .container{
        margin: 0 3%;
    }
    header{
        height: 450px;
    }
    nav ul li{
        list-style: none;
        margin-left: 10px;
    }
    nav ul li a{
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        color: var(--font-color);
        padding: 10px 2px;
    }
    .head-left{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .head-left h1{
        font-size: 25px;
        color: var(--font-color);
        margin-bottom: 1px;
    }
    .head-left p{
        font-size: 14px;
        font-weight: 400;
    }
    .products{
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }
    .head-right img{
        width: 80%;
    }
}